.login,
.image {
  min-height: 100vh;
}
.card {
  margin-top: 25px;
  background-color: white;
}
.card-body h4,
h5 {
  text-align: center;
  color: #1266f1;
}
.home p {
  color: #cc5500;
}
nav ul a:hover {
  color: #fff !important;
  zoom: 1.03;
}
table {
  margin-top: 20px;
}
.btn {
  border-radius: 16px;
  cursor: pointer;
  font-size: small;
}
.classlist {
  overflow-x: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.profile {
  text-align: center;
}
.profile button {
  margin-top: 15px;
}
