.login,
.image {
  min-height: 100vh;
}
.bg-image {
  background-image: url("ttmsback.png");
  background-size: cover;
  background-position: left;
}
.card {
  margin-top: 8px;
}
.card-body h5 {
  text-align: center;
}
/* footer {
  margin-top: 5px;
} */
table {
  margin-top: 20px;
}
.btn {
  border-radius: 16px;
  cursor: pointer;
  font-size: small;
}
.classlist {
  overflow-x: auto;
}
